<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HanCount.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HanCountTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cjkCharacterCount.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE857B24296B936200B93B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE857B42296D9CF700B93B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE857B9E2970742600B93B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9C72592517B17F003D66B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
